<!-- Navbar Start -->
<div class="container-fluid sticky-top px-0 wow fadeIn" data-wow-delay="0.1s">
  <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
    <div class="col-lg-6 px-5 text-start">
      <a class="text-body ms-3" href="{{ site.data.site.address.map }}"
        target="_blank">
        <small><i class="fa fa-map-marker-alt me-2"></i>{{ site.data.site.address.name }}</small>
      </a>
      <a class="text-body ms-3" href="mailto:{{ site.data.site.email }}" target="_blank">
        <small class="ms-4"><i class="fa fa-envelope me-2"></i>{{ site.data.site.email }}</small>
      </a>
    </div>
    <div class="col-lg-6 px-5 text-end">
      <small>追蹤我們:</small>
      <a class="text-body ms-3" href="{{ site.data.site.social.facebook }}">
        <i class="fab fa-facebook-f"></i></a>
      <a class="text-body ms-3" href="{{ site.data.site.social.instagram }}">
        <i class="fab fa-instagram"></i></a>
      <a class="text-body ms-3" href="{{ site.data.site.social.line }}">
        <i class="fab fa-line"></i></a>
    </div>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a class="navbar-brand ms-4 ms-lg-0" href="{{ '/' | relative_url }}">
      <img class="img-fluid w-100" src="{{ '/assets/img/banner/TITLE-60-removebg-preview.png' | relative_url }}" alt="TOGKF Taiwan">
    </a>

    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="切換導覽">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a class="nav-item nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">首頁</a>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">關於</a>
          <div class="dropdown-menu m-0">
            <a class="dropdown-item {% if page.url == '/about/' %}active{% endif %}" href="{{ '/about/' | relative_url }}">沖繩空手道</a>
            <a class="dropdown-item {% if page.url == '/gojuryu/' %}active{% endif %}" href="{{ '/gojuryu/' | relative_url }}">沖繩剛柔流空手道</a>
            <a class="dropdown-item {% if page.url == '/togkf/' %}active{% endif %}" href="{{ '/togkf/' | relative_url }}">傳統沖繩剛柔流空手道連盟(TOGKF)</a>
            <a class="dropdown-item {% if page.url == '/togkf-taiwan/' %}active{% endif %}" href="{{ '/togkf-taiwan/' | relative_url }}">TOGKF 台灣支部</a>
            <a class="dropdown-item {% if page.url == '/dojo-kun/' %}active{% endif %}" href="{{ '/dojo-kun/' | relative_url }}">道場訓</a>
          </div>
        </div>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">鍛鍊體系</a>
          <div class="dropdown-menu m-0">
            <a class="dropdown-item {% if page.url == '/system/' %}active{% endif %}" href="{{ '/system/' | relative_url }}">鍛鍊體系</a>
            <a class="dropdown-item {% if page.url == '/kata/' %}active{% endif %}" href="{{ '/kata/' | relative_url }}">型列表</a>
          </div>
        </div>

        <a class="nav-item nav-link {% if page.url == '/contact/' %}active{% endif %}" href="{{ '/contact/' | relative_url }}">聯絡方式</a>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->